/* 共通 */
* {
	margin: 0px;
}

body {
	overflow-y: scroll;
	font-family: arial;
}

.container {
	margin: 50px 100px ;
}

a {
  text-decoration: none;
}

ul {
	list-style: none;
}

.check {
	display: inline-block;
	width: 120px;
	white-space: nowrap;
}

.element {
	cursor: pointer;
}

.section-title {
	width: 500px;
	margin-left: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid lightgray;
}

.sec-intro {
	margin-bottom: 20px;
}

.hide {
	display: none;
}

.query-btn {
	background-color: crimson;
	border: none;
	cursor: pointer;
}

.init-btn {
	background-color: darkslategray;
	border: none;
	cursor: pointer;
}

input[type='number'] {
	width: 50px;
}

/* 検索 */
.form-execute {
	text-align: center;
}

.initialize {
	text-align: center;
	margin: 50px 0px 30px 0px ;
}

.filtering-contents {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px 30px 0px;
}

.filtering-content {
	width: 32%;
}

.filtering-target {
	padding: 20px;
	border-radius: 15px;
	background-color: lightgray;
}

.filtering-target p {
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.filter-detail {
	padding: 5px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: darkgray;
}

.filter-detail p {
	font-size: 15px;
}

#count-query {
	color: red;
	font-weight: bolder;
	font-size: 19px;
}

.data-count {
	display: flex;
}

header {
  height: 65px;
  width: 100%;
	margin-bottom: 20px;
  background-color: rgba(0, 128, 0, 0.8);
}

.header-left h1 {
  padding: 0px 25px;
	line-height: 65px;
	color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
	display: flex;
  margin-right: 25px;
}

.header-right a {
	display: block;
  line-height: 65px;
  padding: 0 25px;
  color: white;
}

.header-right li {
	transition: all 0.5s;
}

.header-right li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/*
.header-right li:hover .header-right-child {
  display: block;
}
*/
.header-right-child {
	display: none;
	position:absolute;
	background-color: rgba(0, 128, 0, 1.0);
	padding: 0;
	z-index: 1;
}

footer {
	border-top: 1px solid lightgray;
}

.mit-contents {
	line-height: 25px;
	float: right;
	margin: 30px 20px;
}

/* index.php */
.contents {
	display: flex;
}

.content {
	text-align: center;
	margin: 0 30px;
}

#chart1 {
	margin-top: 50px;
}

.sample-chart {
	width: 100%;
}

.popup_wrap input {
  display: none;
}

.popup_overlay {
  display: flex;
  justify-content: center;
  position: fixed;
	top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #37beb03d;
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.scpop_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scpop_content {
	padding: 10px;
	position: relative;
  align-self: center;
  width: 85%;
  background: #fff;
  transition: 0.5s;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(94, 94, 94, 0.7);
}

.search-index img {
	width: 80%;
	margin-bottom: 20px;
}

.scpop_content p {
  text-align: center;
}

.search-intro {
	display: flex;
}

.search-index {
	width: 32%;
}

.scclose {
  position: absolute;
	top: 14px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

.popup_wrap input:checked ~ .popup_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.scopen {
	cursor: pointer;
	background-color: mediumseagreen;
	margin-right: 30px;
}

.scpop-btn {
	background-color: darkcyan;
}

.provider-btn {
  background-color: mediumseagreen;
}

.btn-wrapper {
	text-align: center;
}

.btn-wrapper .container {
	display: flex;
	justify-content: center;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/* property.php */
.property-search {
	display: flex;
	margin: 20px 30px 30px 30px;
}

.property-search p {
	margin-bottom: 10px;
	font-size: 20px;
	text-align: center;
}

.x-axis {
	width: 50%;
	padding: 20px;
	border-radius: 15px;
	background-color: lightgray;
}

.y-axis {
	width: 50%;
	margin-left: 80px;
	padding: 20px;
	border-radius: 15px;
	background-color: lightgray;
}

/* ingredient.php */
.ingredient-search {
	margin: 20px 60% 30px 20px;
	padding: 20px;
	border-radius: 15px;
	background-color: lightgray;
}

/* manufacture.php */
.manufacture-search {
	margin: 20px 20px 30px 20px;
	padding: 20px;
	border-radius: 15px;
	background-color: lightgray;
}

/* brewry.php */
.brewery-count {
	margin-bottom: 10px;
}

.brewery-query {
	display: flex;
	justify-content: space-around;

}
